body {
    background: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7d7d7d;
    font-size: 15px;
    line-height: 1.6em;
}

body {
    display: block;
    margin: 8px;
}

h1, h2, h3 {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 28px;
  color: rgb(70, 130, 180);
}

h3 {
  font-size: 24px;
  color: rgb(105, 105, 105);
  margin-bottom: 40px;
}

h2 {
  font-size: 18px;
  color: rgba(119, 136, 153, 0.5);
  margin-bottom: 20px;
}


.my_description {
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  padding-left: 0;
  ;
}

ul li{
    display:inline-block;
    width: 100px;
    padding: 10px;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}
.avatar-shadowed {
  box-shadow: 1px 1px 3px grey;
}

.img-medium {
  width: 150px;
  margin-bottom: 20px;
}

.img-shadowed {
  box-shadow: 1px 1px 2px grey;
}

.btn-blue {
  display: inline-block;
  margin: 20px;
  background-color: rgba(70, 130, 180, .9);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 10px;

}

.btn-blue:hover{
  background-color: rgb(70, 130, 180);
}

.container {
  margin: 0 auto;
}

.card {
background: white;                          /* White background */
padding: 30px;
margin: 20px 10px 20px 10px;                              /* Internal space */
border-radius: 10px;                         /* Small radius */
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
border: 1px solid rgba(0, 0, 0, 0.1);
text-align: center;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
  margin: 20px;
}

.description {
  padding-left: 20px;
  text-align: left;
  vertical-align: text-bottom;
}

i.fa {
  font-size: 30px;
  color: lightgrey;
}

i.fa:hover{
  color: rgb(70, 130, 180);
}

#sidebar {
  background: grey;
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;

}

#summary{
  padding:40px;
}

#favorite-movies{
  padding: 40px;
}

#help{
  padding:40px;
}


#page-content {
  margin-left: 200px;
}
